<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Favicon -->
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

    <!-- Title -->
    <title>YTDL - YouTube Video Downloader</title>
</head>

<body>
    <header>
        <div class="topnav">
            <a class="active" href="#home">Home</a>
            <a href="#news">News</a>
            <a href="#contact">Contact</a>
            <a href="#about">About</a>
        </div>
    </header>

    <main>
        <div class="center-container">
            <h1>YTDL - YouTube Video Downloader</h1>
            <input type="text" placeholder="Search or paste link here..." class="search-input">
            <!-- <br> -->
            <button class="search-button">Search</button>
            <!-- <br> -->
            <span>By using our service you are accepting our <a href="#">Terms of Use</a>.</span>
        </div>

        <div class="content">
            <h2>Online YouTube Video Downloader</h2>
            <p>
                YTDL is a free and secure YouTube downloader that allows users to easily convert and download videos and audios from platforms like YouTube, Facebook, Youku, and Dailymotion. It supports high-quality audio and video formats such as MP3, MP4, FLV, and more. YTDL works directly in browsers without requiring software installation or registration, making it compatible with mobiles, tablets, and computers. To use it, simply insert keywords or paste a YouTube URL, click "Start," wait for the conversion, select the desired format and quality, and then download. YTDL offers unlimited downloads, high-speed conversion, and no registration.
            </p>
        </div>
    </main>

    <footer>
        <p>&copy; 2025 YTDL. All rights reserved.</p>
    </footer>
</body>

</html>
